@font-face {
  font-family: 'gilroyextrabold';
  src: url("../fonts/Gilroy-FREE/gilroy-extrabold-webfont.woff2") format("woff2"), url("../fonts/Gilroy-FREE/Gilroy-ExtraBold.otf") format("otf"), url("../fonts/Gilroy-FREE/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroylight';
  src: url("../fonts/Gilroy-FREE/gilroy-light-webfont.woff2") format("woff2"), url("../fonts/Gilroy-FREE/Gilroy-Light.otf") format("otf"), url("../fonts/Gilroy-FREE/gilroy-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yellowtail';
  src: url("../fonts/Gilroy-FREE/Yellowtail-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* variables */
/* base styles */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-size: 16;
  margin: auto;
  max-width: 1440px;
}

nav {
  height: 10vh;
  background: transparent;
  position: absolute;
  width: 100%;
}

nav .brand {
  text-align: left;
  vertical-align: middle;
  position: relative;
  left: 100px;
  top: 60px;
  color: #ffffff;
  font-family: "gilroylight", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  line-height: 23px;
}

nav .nav-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style-type: none;
  max-width: 30%;
  font-family: "gilroylight", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 20% auto 30%;
}

nav .nav-links li {
  padding: 0 20px;
}

nav .nav-links li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

nav .sign-up {
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 10rem;
  height: 3rem;
  background: #000;
  color: #ffffff;
  cursor: pointer;
  font-family: "gilroylight", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}

/* headers */
.header {
  max-height: 53rem;
}

.header .header-one {
  background: #000000;
  color: #ffffff;
  width: 70rem;
  height: 53rem;
  left: 0px;
  top: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.header .header-one .content {
  position: relative;
  left: 98px;
  top: 220px;
  height: 500px;
}

.header .header-one .content h1 {
  width: 478px;
  height: 252px;
  font-family: "gilroylight", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 70px;
  line-height: 120%;
  color: #FFFFFF;
}

.header .header-one .content p {
  max-width: 420px;
  height: 60px;
  font-family: "gilroylight", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #BABABA;
  margin-top: 30px;
}

.header .header-one .content button {
  width: 10rem;
  height: 3rem;
  background: #FFFFFF;
  cursor: pointer;
  margin-top: 50px;
}

.header .header-one .content button:hover {
  background: #d8d6d6;
}

.header .header-images {
  position: relative;
  top: -650px;
  left: 8.9%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.header .header-images img:nth-of-type(1), .header .header-images img:nth-of-type(3) {
  -ms-grid-column-align: end;
      justify-self: end;
}

.define-us {
  margin: 7rem 2rem;
  padding: 1rem 7rem;
}

.define-us h1 {
  font-family: "gilroyextrabold", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  color: #000000;
}

.define-us article {
  display: -ms-grid;
  display: grid;
  gap: 10rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  font-weight: 100;
  text-align: justify;
}

.define-us article p {
  font-family: "gilroylight", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #404040;
}

.define-us article blockquote {
  font-family: "gilroylight", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #404040;
  max-width: 386px;
}

.define-us article blockquote hr {
  width: 175px;
  height: 4px;
  margin-bottom: 1rem;
  background-color: #000;
}

.define-us article blockquote .quote {
  font-family: Century;
  font-style: normal;
  font-weight: normal;
  font-size: 120px;
}

.define-us article blockquote cite {
  font-family: "yellowtail", 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.define-us article blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 100px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #3c849c;
}

.image-slider {
  margin: 5rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

/* services*/
.services h1 {
  font-family: "gilroyextrabold", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  left: 190px;
  top: 75px;
  color: #000000;
}

.services h1 span {
  color: #ffffff;
}

.services .main-services {
  width: 80%;
  height: 542px;
  background: #000000;
  margin-left: 20%;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 45%;
      grid-template-columns: 45% 45%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .main-services div {
  padding: 7rem 8rem 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "gilroylight", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.services .main-services div h5 {
  font-size: 1.2rem;
  line-height: 30px;
  max-width: 430px;
  font-weight: bold;
  margin-bottom: 5px;
}

.services .main-services div p {
  font-size: 1rem;
  max-width: 320px;
  font-weight: 100;
  line-height: 143.64%;
  margin-bottom: 3rem;
}

.services .main-services div button {
  width: 149px;
  height: 50px;
  background: #ffffff;
}

.services .main-services div button:hover {
  background: #d8d6d6;
}

.tagline {
  text-align: center;
  margin: 8rem auto;
}

.events {
  text-align: center;
}

.events h2 {
  font-family: "gilroyextrabold", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 48px;
  line-height: 120%;
  color: #000000;
}

.events p {
  font-family: "gilroylight", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  line-height: 162%;
  font-weight: 100;
  max-width: 751px;
  margin: auto;
}

.events .cards {
  margin: 5rem 4.5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (17%)[4];
      grid-template-columns: repeat(4, 17%);
  gap: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.events .cards .card {
  padding: 1.5rem 1.5rem 3rem;
  text-align: justify;
  border: none;
  -webkit-box-shadow: 5px 5px 15px #29272733;
          box-shadow: 5px 5px 15px #29272733;
  max-width: 261px;
}

.events .cards .card img {
  margin: 1rem;
}

.events .cards .card h3 {
  font-family: "gilroylight", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  line-height: 32px;
  max-width: 208px;
  margin-bottom: 10px;
}

.events .cards .card p {
  font-family: "gilroylight", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  line-height: 20px;
  max-width: 190px;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 0;
}

.events .cards .card:active, .events .cards .card:hover {
  outline: 2px solid black;
  position: relative;
  bottom: 5px;
}

.the-team {
  background: #000000;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  padding: 8rem 0 5rem 5rem;
  -ms-grid-columns: 30% 50%;
      grid-template-columns: 30% 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10%;
}

.the-team div.text {
  font-family: "gilroylight", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.the-team div.text h5 {
  font-size: 24px;
  line-height: 121.64%;
  margin-bottom: 20px;
}

.the-team div.text h3 {
  font-size: 60px;
  line-height: 117.5%;
  margin-bottom: 20px;
}

.the-team div.text p {
  font-size: 1rem;
  line-height: 147.1%;
}

.the-team div.images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 5%;
}

.the-team div.images img {
  max-width: 354px;
  max-height: 471px;
}

.the-team .fonts {
  text-align: center;
}

.the-team .fonts .fas {
  margin: auto 10px;
}

.footer {
  margin-top: 7rem;
}

.footer .container {
  max-width: 75%;
  margin: auto;
}

.footer .container .content {
  font-family: "gilroylight", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer .container .content h4 {
  font-family: Almarai;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 121.64%;
  display: inline-block;
}

.footer .container .content h5 {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.3px;
  display: inline-block;
  text-align: right;
  margin-left: 40%;
  margin-right: 5%;
}

.footer .container .content button {
  background: #000000;
  border-radius: 5px;
  font-size: 20px;
  line-height: 20px;
  padding: 0.5rem;
  color: #ffffff;
  margin-right: 0;
  height: 50px;
  width: 175px;
  border-radius: 5px;
}

.footer .container .content button:hover {
  background: #1f1e1e;
}

.footer .container hr {
  margin: 3rem auto;
}

.footer .container .other {
  padding: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .container .other .newsletter {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  justify-items: center;
  font-family: "gilroylight", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer .container .other .newsletter h4 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.3px;
  max-width: 175px;
  margin-bottom: 50px;
}

.footer .container .other .newsletter input {
  border: none;
  border-bottom: 1px solid #534f4f;
  opacity: 0.8;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
}

.footer .container .other .newsletter i {
  position: relative;
  left: -30px;
  top: 4px;
}

.footer .container .other .services {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "gilroylight", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
}

.footer .container .other .services li {
  list-style-type: none;
  margin: 20px auto;
}

.footer .container .other .services li a {
  text-decoration: none;
  color: #000000;
}

.footer .container .socials p {
  font-family: "gilroylight", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  display: inline-block;
  margin: 20px 50px 0;
}

.footer .container .socials .social-links {
  margin-left: 30%;
}

.footer .container .socials .social-links i {
  margin: auto 20px auto 0;
}

.footer .container .socials a {
  margin-right: 5px;
  color: red;
  text-decoration: none;
}

nav .nav-links {
  margin: auto 10% auto 30%;
}

nav .nav-links li a {
  color: #000000;
  font-weight: bolder;
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(68.75%, rgba(0, 0, 0, 0.738594)), color-stop(100%, rgba(0, 0, 0, 0.87)), to(#000000)), url("../images/mainheader.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.738594) 68.75%, rgba(0, 0, 0, 0.87) 100%, #000000 100%), url("../images/mainheader.jpg");
}

.header .header-one {
  background-color: transparent;
  width: 100%;
}

.header .header-one .content {
  position: relative;
  left: 60%;
  top: 35%;
  height: 500px;
}

.header .header-one .content h1 {
  width: 904px;
  height: auto;
  font-family: "gilroyextrabold", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 90px;
  line-height: 120%;
  color: #FFFFFF;
}

.header .header-one .content p {
  max-width: 420px;
  height: 60px;
  font-family: "gilroylight", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #BABABA;
  text-align: center;
  margin: 50px auto;
}

.define-us {
  margin: 7rem 2rem 5rem;
  padding: 1rem 7rem;
}

.define-us h1 {
  font-family: "gilroyextrabold", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  color: #000000;
  text-align: center;
}

.define-us p {
  font-family: "gilroylight", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  margin: 20px auto;
  max-width: 751px;
  font-size: 20px;
  line-height: 162%;
}

.define-us img {
  text-align: center;
  display: block;
  margin: 50px auto;
}
/*# sourceMappingURL=page.css.map */